.btn {
  width: 170px;
  padding: 6px 20px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-align: center;
  text-transform: uppercase;
  color: #6c6c6c;
  border: 1px solid #c3c3c3;
  border-radius: 50px;
  background-color: transparent;
  &:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
.btn-main {
  border: 1px solid #ffdd00;
  background-color: #ffdd00;
}

#return-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #ffdd00;
  width: 50px;
  height: 50px;
  display: none;
  border-radius: 35px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  z-index: 99;
  &:hover {
    background-color: $white;
    border-color: $primary2;
    i {
      top: 0px;
      color: $primary2;
    }
  }
  i {
    color: #ffffff;
    margin: 0;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 8px;
    font-size: 30px;
    font-weight: bold;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}
