.header {
    //   position: fixed;
    width: 100%;
    background: #fff;
    z-index: 99;
    -webkit-box-shadow: 10px 10px 30px rgba($color: #000000, $alpha: 0.16);
    box-shadow: 10px 10px 30px rgba($color: #000000, $alpha: 0.16);
    &.--fixed {
        -webkit-animation: fadeInDown 0.6s both;
        animation: fadeInDown 0.6s both;
        position: fixed;
        top: 0;
        left: 0;
    }
    &__topbar {
        background-color: $primary2;
        .topbar {
            padding: 15px 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            &-left,
            &-right {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                li {
                    padding: 0 20px;
                    border-right: 1px solid #fff;
                    color: #fff;
                    &:last-child {
                        border: none;
                    }
                    a {
                        -webkit-transition: 0.3s all;
                        -o-transition: 0.3s all;
                        transition: 0.3s all;
                        font-size: 14px;
                        color: #fff;
                        text-decoration: none;
                        &:hover {
                            color: $primary;
                            i {
                                color: $primary;
                            }
                        }
                    }
                }
            }
            &-left {
                li {
                    font-size: 14px;
                    a {
                        padding: 0 10px;
                    }
                }
            }
            &-right {
            }
        }
    }
    &__menu {
        background-color: $white;
        -webkit-box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.16);
        box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.16);
        .main-header {
            position: relative;
            padding: 10px 0;
            .isner {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                position: relative;
                .main-logo {
                }
                .main-menu-btn {
                    display: none;
                    @include media(1200px) {
                        display: block;
                        margin-left: auto;
                    }
                }
                .hamburger-btn {
                    cursor: pointer;
                    width: 50px;
                    height: 50px;
                    position: relative;
                    &.active {
                        .bar {
                            background-color: transparent;
                            &::before {
                                top: 0;
                                -webkit-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                transform: rotate(45deg);
                            }
                            &::after {
                                top: 0;
                                -webkit-transform: rotate(135deg);
                                -ms-transform: rotate(135deg);
                                transform: rotate(135deg);
                            }
                        }
                    }
                    .bar {
                        width: 30px;
                        height: 3px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        background-color: $primary;
                        -webkit-transition: 0.3s;
                        -o-transition: 0.3s;
                        transition: 0.3s;
                        border-radius: 2px;
                        &::before {
                            top: -8px;
                            content: "";
                            position: absolute;
                            left: 0;
                            width: 30px;
                            height: 3px;
                            background-color: $primary;
                            -webkit-transition: 0.3s;
                            -o-transition: 0.3s;
                            transition: 0.3s;
                            border-radius: 2px;
                        }
                        &::after {
                            top: 8px;
                            content: "";
                            position: absolute;
                            left: 0;
                            width: 30px;
                            height: 3px;
                            background-color: $primary;
                            -webkit-transition: 0.3s;
                            -o-transition: 0.3s;
                            transition: 0.3s;
                            border-radius: 2px;
                        }
                    }
                }
                .right {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    .main-menu {
                        @include media(1200px) {
                            position: fixed;
                            top: 0;
                            left: unset;
                            right: 100vw;
                            width: 100vw;
                            height: 100vh;
                            border-radius: 0;
                            -webkit-transform: translate(0, 0);
                            text-align: left;
                            -webkit-transition: 0.5s;
                            -o-transition: 0.5s;
                            transition: 0.5s;
                            z-index: 998;
                        }
                        &.active {
                            right: 0;
                        }
                        &-nav {
                            @include media(1200px) {
                                display: block;
                                position: relative;
                                top: 0;
                                left: 0;
                                width: 250px;
                                height: 100%;
                                z-index: 2;
                                padding: 20px 0 50px;
                                border-radius: 0;
                                background: $primary2;
                            }
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            margin-right: -20px;
                            padding: 0px 15px;
                            li {
                                position: relative;
                                a {
                                    color: #000000;
                                    padding: 0px 15px;
                                    display: inline-block;
                                    position: relative;
                                    line-height: 1.33;
                                    font-weight: normal;
                                    display: -webkit-box;
                                    display: -ms-flexbox;
                                    display: flex;
                                    -webkit-box-pack: center;
                                    -ms-flex-pack: center;
                                    justify-content: center;
                                    -webkit-box-align: center;
                                    -ms-flex-align: center;
                                    align-items: center;

                                    @include media(1200px) {
                                        border-bottom: 1px solid $white;
                                        color: $white;
                                        padding: 12px 14px;
                                        display: -webkit-box;
                                        display: -ms-flexbox;
                                        display: flex;
                                        -webkit-box-align: center;
                                        -ms-flex-align: center;
                                        align-items: center;
                                        -webkit-box-pack: justify;
                                        -ms-flex-pack: justify;
                                        justify-content: space-between;
                                    }
                                }
                                &.current-menu-item,
                                &:hover {
                                    & > a {
                                        color: $primary;
                                        border-bottom: none;
                                    }
                                    &.dropdown {
                                        &.--show {
                                            display: block;
                                        }
                                    }

                                    @include media(1200px) {
                                        background-color: $primary;
                                        a {
                                            color: $white;
                                        }
                                    }
                                }
                            }
                        }
                        &-overlay {
                            @include media(1200px) {
                                display: block;
                            }
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.6);
                            display: none;
                        }
                        .logo-mobile {
                            display: none;
                            text-align: center;
                            width: 250px;
                            position: relative;
                            z-index: 10;
                            background-color: $white;
                            padding: 30px 0;
                            img {
                                width: 150px;
                                height: auto;
                            }
                            @include media(1200px) {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
    @include media(540px) {
        &__topbar {
            .topbar {
                li {
                    border: none;
                    padding: 0 15px;
                }
                &-left {
                    display: inline-block;
                    .header-mail {
                        display: none;
                    }
                }
            }
        }
    }
}
