.wrapper-checkout {
  .checkout__detail {
    padding: 40px 0;
    background-color: #f8f8f8;
    .step-check {
      margin-bottom: 50px;
      ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        li {
          width: calc(100% / 12 * 3);
          text-align: center;
          position: relative;
          margin-right: 50px;
          background-color: $primary2;
          height: 60px;
          &::after {
            content: '';
            position: absolute;
            top: 0;
            right: -30px;
            z-index: 1;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 30px 0 30px 30px;
            border-color: transparent transparent transparent $primary2;
          }
          &.active {
            background-color: $primary;
            &::after {
              border-color: transparent transparent transparent $primary;
            }
            h2 {
              color: $white;
              i {
              }
            }
          }

          &:last-child {
            &::after {
              content: none;
            }
          }
          h2 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin-bottom: 0;
            height: 100%;
            color: $white;
            font-size: 20px;
            i {
              margin-left: 10px;
            }
          }
        }
        @include media(768px) {
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          li {
            width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
            &:last-child {
              margin-bottom: 0;
            }
            &::after {
              content: none;
            }
          }
        }
      }
    }
  }
  .form__client {
    .row {
      @include media(768px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        .col-lg-4 {
          margin-bottom: 30px;
        }
      }
    }
    h3 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0 -10px;
      .form__items {
        margin-bottom: 20px;
        padding: 0 10px;
        width: 50%;
        &-full {
          width: 100%;
        }
        label {
          margin-bottom: 10px;
        }
        input,
        textarea,
        select {
          width: 100%;
          padding: 10px 15px;
          border-radius: 5px;
          border: 1px solid #cccccc;
          -webkit-transition: 0.3s all;
          -o-transition: 0.3s all;
          transition: 0.3s all;
          &:focus {
            border-color: $primary;
            outline: none;
          }
        }
        .magiamgia {
          margin-bottom: 0;
        }
        .check-cp {
          display: inline-block;
          padding: 10px 20px;
          background-color: $primary2;
          color: $white;
        }
        button,
        .goback {
          padding: 15px 30px;
          background-color: $primary;
          color: $white;
          float: right;
          outline: none;
          cursor: pointer;
          border: none;
          &.--next {
            float: right;
          }
        }
        .goback {
          float: left;
        }
      }
    }
    .add-coupon {
      small {
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
      }
    }
    .phuongthuctt {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0 -10px;
      &__items {
        padding: 0 10px;
        width: 20%;
        @include media(540px) {
          width: calc(100% / 12 * 6);
          margin-bottom: 20px;
        }
        &.active {
          .wrap__info {
            background-color: $primary2;
            color: $white;
            border-color: $primary2;
          }
        }
        .wrap__info {
          border: 2px solid #9b9b9b;
          padding: 20px;
          height: 100%;
          -webkit-transition: 0.3s all;
          -o-transition: 0.3s all;
          transition: 0.3s all;
          line-height: 1.5;
          img {
            width: 100%;
            height: auto;
          }
          p {
            margin-top: 10px;
            font-size: 12px;
            text-align: center;
          }
          &:hover {
            border-color: $primary2;
          }
        }
      }
    }
    .list-tab {
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 20px;
      background-color: $white;
      border-radius: 5px;
      .tabs {
        display: none;
        .qr_choose {
          h5 {
            margin-bottom: 20px;
            line-height: 1.5;
          }
          text-align: center;
          b {
            font-weight: bold;
            font-size: 18px;
          }
          iframe {
            @include media(540px) {
              width: 100%;
            }
          }
          .qrcode {
            width: 300px;
            height: auto;
          }
        }
        h4 {
          text-align: center;
          font-size: 18px;
          line-height: 1.4;
          margin-bottom: 20px;
        }
        .list__nganhang {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          margin: 0 10px;
          .item {
            width: 20%;
            padding: 0 10px;
            margin-bottom: 10px;
            @include media(540px) {
              width: calc(100% / 12 * 6);
            }
            .wrap-image {
              position: relative;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              padding: 10px;
              height: 100%;
              border: 1px solid #d1d1d1;
              -webkit-transition: 0.3s all;
              -o-transition: 0.3s all;
              transition: 0.3s all;
              &:hover {
                border-color: $primary;
              }
              img {
                width: 100%;
              }
            }
            &.active {
              .wrap-image {
                border-color: $primary;
              }
            }
          }
        }
        &.active {
          display: block;
        }
      }
    }
    .hoanthanh {
      background-color: $white;
      padding: 40px 20px;
      text-align: center;
      img {
        width: 100px;
        height: auto;
        margin-bottom: 20px;
      }
      h2 {
        margin-bottom: 20px;
        font-size: 25px;
        font-weight: bold;
        line-height: 1.4;
        color: $primary2;
      }
      h4 {
        margin-bottom: 10px;
      }
    }
  }
  .support-kh {
    width: 100%;
    background-color: $primary2;
    text-align: center;
    color: $white;
    padding: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .book-details {
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
    &__info {
      h4 {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      padding: 20px;
      background-color: $white;
      border-radius: 0 0 4px 4px;
      ul {
        li {
          padding: 10px 0;
          span {
            font-weight: bold;
            font-size: 14px;
          }
        }
      }
    }
  }
}
